<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>E Shop</title>
</head>
<body>

<!--<h1>{{ products }}</h1>-->

<!--{% for product in products %}-->
<!--<h4>{{ product }}</h4>-->
<!--{% endfor %}-->

{% for product in products %}

<table>
    <tr>
        <td>{{ product.name }}</td>
         <td>  :  {{ product.category.name }}</td>
         <td>  :  {{ product.price }}</td>
         <td>  :  {{ product.image }}</td>
    </tr>
</table>

{% endfor %}


</body>
</html>